.WrapperGrid {
  justify-content: center;
  margin: 7px;
  border-radius: 5px;
  padding-top: 3%;
  padding-bottom: 3%;
  .CardInGrid {
    width: 600px;
  }
}

.whiteColor {
  color: white;
}

.stepperContainer {
  color: white;
}

.stepLabel {
  color: white;
}
